body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Dancing Script', serif;
}

.navigation-wrapper {
    height: 370px;
    background-color: #d30080;
    border-bottom: 15px solid white;
    color: #ffffff;
    display: flex;
    padding:  0px 130px;
    justify-content: space-between;
}
.left-column {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    text-align: center; 
    height: 230px;
    background-color:  #0504aa;
    color: white;
    padding: 70px 10px;
}

.center-column {
   display: grid;
   align-self: stretch;
   align-items: center;
   width: 700px;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color:   #0504aa;
}

.center-column .logo {
   display: flex;
   justify-content: center;
   align-self: center;
}

.right-column {
   display: grid;
   grid-template-columns:  auto auto auto;
   justify-content: space-between;
   justify-content: center;
   background-color:  #0504aa;
   color: white;
}

.logo img {
   width: 225px;
   height: 100%;
}

.links-wrapper {
    display: grid;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.nav-link {
    width: 150px;
    text-align: center;
}

.nav-link a {
   font-family: 'Lato', sans-serif;
   font-size: 17px;
   color:white;
   text-decoration: none;
   transition: 0.5s;
}

.nav-link a:hover {
   color:  #d30080;
   letter-spacing: 2px; 
}


.homepage {
    display: grid;
    background-image: url(assets/MiddleFood-Rev4.jpg);
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.middle-text {
    display: grid;
    grid-template-columns:  auto auto auto auto auto;
    border-top: 15px solid white; 
    background-color:  #d30080;
    height: 645px;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: white;
}

.new-item {
    font-size: 18px;
    padding-bottom: 25px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    height: 605px;
    background-color:  #0504aa;
}


.features-section {
   height: 400px;
   background-image: url(assets/ProjectLogoClearMultiple.jpg);
   background-color: #274ce0;
   padding-top: 60px;
   padding-left: px;
   border-top: 15px solid  white;
   border-bottom: 15px solid  white;
   color: white;
   display: grid;
   justify-content: center;
   align-items: center;
   font-family: 'Lobster', sans-serif;
}

.more {
    border-top: 15px solid white;
}

.columns-wrapper {
    width: 980px;
    display: flex;
    justify-content: space-between;
}

.column {
    margin: 1px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
.tagline {
    font-size: 18px;
    padding-top: 0px;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #0504aa;
}

.social {
    display: grid;
    grid-column-start: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
}

.card-types {
    grid-column-start: 2;
    font-family: 'Lato', sans-serif;
    text-align: center;
    align-items: center;
    justify-items: center;
    font-size: 30px;
    color: white;
}

.copyright {
    grid-column-start: 2;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: center;
    align-items: center;
    justify-items: center;
    color: white;
}

.hereweare {
    grid-column-start: 3;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}




